# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# =========================
# Virtual environments
# =========================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# =========================
# Packaging / build
# =========================
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
pip-wheel-metadata/
share/
*.egg-info/
.installed.cfg
*.egg

# =========================
# PyInstaller
# =========================
*.manifest
*.spec

# =========================
# Testing / coverage
# =========================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# =========================
# Type checkers
# =========================
.mypy_cache/
.pytype/
.pyre/

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# =========================
# macOS folders
# =========================
.Spotlight-V100
.Trashes
